@model IntegranteModel
@{
    ViewData["Title"] = "EditarIntegrante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Editar integrante
    </div>
    <div class="card-body">
        <form asp-action="EditarIntegrante" asp-controller="Integrante" method="post">
            <input asp-for="doc_integrante" type="hidden" class="form-control">
            <div class="form-group">
                <label>Nombre completo</label>
                <input asp-for="nom_integrante" type="text" class="form-control">
                <span asp-validation-for="nom_integrante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Estado</label>
                <select asp-for="estado_integrante" class="form-control">
                    <option value="Activo" selected>Activo</option>
                    <option value="Inactivo">Inactivo</option>
                    <span asp-validation-for="estado_integrante" class="text-danger"></span>
                </select>
            </div>
            <div class="form-group">
                <label>Fecha de nacimiento</label>
                <input asp-for="fechanacimiento_integrante" type="date" class="form-control">
                <span asp-validation-for="fechanacimiento_integrante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Teléfono</label>
                <input asp-for="telefono_integrante" type="text" class="form-control">
                <span asp-validation-for="telefono_integrante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Dirección</label>
                <input asp-for="direccion_integrante" type="text" class="form-control">
                <span asp-validation-for="direccion_integrante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input asp-for="contrasena_integrante" type="password" class="form-control">
                <span asp-validation-for="contrasena_integrante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Rol</label>
                @Html.DropDownList("fk_codrol", ViewBag.ListaRol as SelectList,"Seleccione", new{@class="form-control"})
            </div>
            <div class="form-group">
                <label>Ciudad</label>
                @Html.DropDownList("fk_codciudad", ViewBag.ListaCiudad as SelectList,"Seleccione", new{@class="form-control"})
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Editar</button>
            <a asp-action="ListarIntegrante" asp-controller="Integrante" class="btn btn-warning">Volver a la lista</a>
        </form>
    </div>
</div>