@{
    ViewData["Title"] = "Home Page";
}
  



<div class="row align-items-center">
    <div class="col">
    </div>
    <div class="col">
        <img src="https://img.freepik.com/vector-premium/caridad-fundacion-logo-vector_23987-228.jpg" class="img-fluid" />
    </div>
    <div class="col">
    </div>
</div>
