
<h1>@ViewData["Title"]</h1>

<h3>No tienes acceso a esta vista, ponte en contacto con el administrador del sitio</h3>
<div class="row align-items-center">
    <div class="col">
    </div>
    <div class="col">
        <img src="https://cdn-icons-png.flaticon.com/512/4924/4924682.png" class="img-fluid" />
    </div>
    <div class="col">
    </div>
</div>

