
@{
    ViewData["Title"] = "CambiarContrasena";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Vista en construcción, perdón por las demoras</h3>
<div class="row align-items-center">
    <div class="col">
    </div>
    <div class="col">
        <img src="https://img.freepik.com/vector-premium/nino-dibujos-animados-herramientas-construccion_29937-8995.jpg" class="img-fluid" />
    </div>
    <div class="col">
    </div>
</div>
