@model TipoUnidadModel
@{
    ViewData["Title"] = "EliminarTipoUnidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Eliminar tipo de unidad
    </div>
    <div class="card-body">
        <form asp-action="EliminarTipoUnidad" asp-controller="TipoUnidad" method="post">
            <input asp-for="cod_tipounidad" type="hidden" class="form-control">
            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar el tipo de unidad: @Html.DisplayTextFor(m=>m.nom_tipounidad)?
            </div>
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="ListarTipoUnidad" asp-controller="TipoUnidad" class="btn btn-warning">Volver a la lista</a>
        </form>
    </div>
</div>

