@model List<TipoProductoModel>

@{
    ViewData["Title"] = "ListarTipoProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Lista tipo de producto
    </div>
    <div class="card-body">
        <a asp-action="CrearTipoProducto" asp-controller="TipoProducto" class="btn btn-success"><i class="bi bi-plus-circle-dotted"></i> Crear nuevo</a>
        <hr />
        <table class="table table-bordered">
            <tr>
                <th>Código tipo de producto</th>
                <th>Nombre tipo de producto</th>
                <th></th>
            </tr>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.cod_tipoproducto</td>
                        <td>@item.nom_tipoproducto</td>
                        <td>
                            <a asp-action="EditarTipoProducto" asp-controller="TipoProducto" asp-route-cod_tipoproducto="@item.cod_tipoproducto" class="btn btn-primary btn-sm"><i class="bi bi-pencil-square"></i> Editar</a>
                            <a asp-action="EliminarTipoProducto" asp-controller="TipoProducto" asp-route-cod_tipoproducto="@item.cod_tipoproducto" class="btn btn-danger btn-sm"><i class="bi bi-trash3"></i> Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

